.formArea {
    margin-top: 32px;
}

.form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-row: auto;
    grid-template-rows: auto;
    gap: 14px;
}

.input {
    padding: 4px 6px;
    border-radius: 8px;
    width: 100%;
    color: var(--secondaryColor);
}

.input>label {
    color: var(--secondaryColor);
}

.button {
    background-color: var(--secondaryColor);
    color: var(--neutralColor);
    border: 2px solid var(--primaryColor);
    border-radius: 8px;
    width: 50%;
    cursor: pointer;
    padding: 0 8px;
    font-weight: 600;
    font-size: 1.25em;
}

.resultado {
    font-size: 2em;
    margin-top: 60px;
}