.header {
    margin-top: 128px;
}

.title {
    font-size: 32pt;
}

.header>h1>span {
    color: var(--secondaryColor);
}

@media screen and (max-width: 768px) {
    .header {
        margin-top: 64px;
        padding: 0 16px;
        line-height: 2.5em;
    }
}